.chatContainer {
  padding: 0 20px;
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .chatContainer {
    width: 500px;
    position: relative;
  }
}
.header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedProduct {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -0.025em;
  color: black;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedProduct svg {
  margin-left: 6px;
}
.productModal {
  position: absolute;
  width: 100%;
  top: 56px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 0 10px 16px 10px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.06));
  /* 아이폰 대응 */
  backdrop-filter: blur(0);
}
.productModal img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.productList {
  display: flex;
  align-items: center;
  padding: 8px 10px;
}
.productList p {
  margin-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.025em;
}
.productList div:first-child {
  display: flex;
  align-items: center;
}
.clickProduct {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  justify-content: space-between;
}
.clickProduct svg {
  margin-right: 6px;
}
.modalButtonBox {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  padding: 0px 10px;
}
.modalButtonBox button {
  width: 164px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalButtonBox button:first-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.025em;
  color: black;
}
.modalButtonBox button:nth-child(2) {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.025em;
}
.chatContent {
  margin-top: 24px;
  flex: 1;
  overflow-y: scroll;
}
.chatContent::-webkit-scrollbar {
  display: none;
}
.noSelectedProduct {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.025em;
  color: #767676;
}
.inputBox {
  display: flex;
  margin-bottom: 40px;
}
.inputBox input {
  width: 100%;
  padding: 14px;
  border: 1px solid black;
  opacity: 20%;
  border-radius: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.025em;
  color: #bbbbbb;
}
.inputBox input:focus {
  outline: none;
}
.inputBox button {
  border: none;
  background-color: #767676;
  opacity: 20%;
  padding: 12px;
  border-radius: 24px;
  margin-left: 8px;
}
.inputBox button svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
